#include ".Xresources.d/colorschemes/gruvbox-dark"

Xft.dpi:					96
!Xft.dpi:					101
Xft.lcdfilter:  			lcddefault
Xft.hintstyle:  			hintslight
Xft.autohint:   			false
Xft.hinting:    			true
Xft.antialias:  			true
Xft.rgba:       			rgb

! Fonts
!URxvt*font: 				xft:Fira Mono:medium:size=11
!URxvt*boldFont: 			xft:Fira Mono:bold:size=11:hinting=0:hintstyle=hintnone
!URxvt*italicFont: 			xft:Fira Mono:italic:size=11
!URxvt*boldItalicFont: 		xft:Fira Mono:bold italic:size=11

!URxvt*font:         xft:Inconsolata-g:regular:size=10
!URxvt*boldFont:     xft:Inconsolata-g:bold:size=10:hinting=0:hintstyle=hintnone

!! Unifont
!URxvt*font:			-gnu-unifont-medium-r-normal-sans-16-160-75-75-c-80-iso10646-1



!! Tewi
!URxvt*font:			-lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!URxvt*boldFont:			-lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1

!! Gohufont
!URxvt*font:			-gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso8859-1
!URxvt*boldFont:	            -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso8859-1	

!! Terminus
!URxvt*font:                    -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso8859-1
!URxvt*boldFont:                -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso8859-1

!! Termsyn
URxvt*font:                    -misc-termsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1
URxvt*boldFont:                -misc-termsyn-bold-r-normal--14-101-100-100-c-70-iso8859-1
!! Tamsyn
!URxvt*font:					-misc-tamsyn-medium-r-normal--16-116-100-100-c-80-iso8859-1, \
!							xft:Font Awesome 5 Free Solid:style=Regular:pixelsize=12
!URxvt*boldFont:				-misc-tamsyn-bold-r-normal--16-116-100-100-c-80-iso8859-1

!URxvt*font: 				xft:DejaVu Sans Mono:regular:size=10
!URxvt*boldFont: 			xft:DejaVu Sans Mono:bold:size=10:hinting=0:hintstyle=hintnone
!URxvt*italicFont: 			xft:DejaVu Sans Mono:italic:size=10
!URxvt*boldItalicFont: 		xft:D@ejaVu Sans Mono:bold italic:size=10

!URxvt*font: 				xft:Hack:regular:size=10
!URxvt*boldFont:				xft:Hack:bold:size=10

!URxvt.font: 				xft:Ubuntu Mono:regular:size=11.5
!URxvt.boldFont:				xft:Ubuntu Mono:bold:size=11.5
!URxvt*font: 				xft:terminus:size=10:antialias=false

URxvt.intensityStyles:			false

! Fix font space

!URxvt.letterSpace: 			-2
URxvt.lineSpace: 			2
URxvt.geometry:				80x24
URxvt.imLocale:				en_US.UTF8
URxvt*skipBuiltInGlyphs:	true

! Underline URLs
URxvt.underlineURLs:			true

! Url-Select
URxvt.keysym.M-u:			perl:url-select:select_next
URxvt.url-select.launcher:		/usr/bin/firefox
URxvt.url-select.underline:		true

! Keyboard select
URxvt.keysym.M-Escape:			perl:keyboard-select:activate

! Scroll Bar
URxvt.scrollStyle:			rxvt
URxvt*scrollBar:			false
URxvt*borderLess:			false

! Cursor
URxvt.cursorBlink:			true
URxvt.cursorUnderline:		false

URxvt*fading:               40

! Add color to my man pages
URxvt.colorIT:				#87af5f
URxvt.colorBD:				#969694
URxvt.colorUL:

! Clipboard
!URxvt.keysym.M-c:			perl:clipboard:copy
!URxvt.keysym.M-v:			perl:clipboard:paste
!URxvt*depth:				32
